body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 1s;
}

#timer {
    font-size: 30rem;
    color: #ffffff;
}
